.chat-space
  .chat-space__group-section
    .names
      .names__group
        = @group.name
      .names__member
        Member :
        - @group.users.each do |user|
          = user.name
    = link_to edit_group_path(@group), class: "edit-btn" do
      Edit 
  .chat-space__view
    = render @messages
  .chat-space__form
    = form_for [@group, @message] do |f|
      = f.text_field :body, class: 'form-message', placeholder: 'type a message'
      .form-iwrap
        = f.label :image, class: 'form-iwrap__label' do
          = icon('far', 'image', class: 'form-iwrap__label--icon')
          = f.file_field :image, class: 'form-iwrap__label--file'
      = f.submit 'Send', class: 'form-submit'
