.side-bar
  .side-bar__top
    .user-section
      .user-section__name
        = current_user.name
      .user-section__icons
        = link_to new_group_path, class: "user-section__icons--edit" do
          = icon('fas', 'edit')
          %span<>
        = link_to edit_user_path(current_user), class: "user-section__icons--cog" do
          = icon('fas', 'cog')
  .side-bar__list
    - current_user.groups.each do |group|
      .group-section
        = link_to group_messages_path(group) do
          .group-section__name
            = group.name
          .group-section__message
            メッセージはまだありません。